.generic-content-container {
    margin-bottom: 3.875rem;
    
    h2 {
        line-height: 1.65;
        margin-bottom: 0;
    }

    h3 {
        line-height: 1.5;
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
        margin-top: 1.125rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        padding-right: 15px;
      }

      #envelope {
          padding-right: 5px;
          vertical-align: middle;
      }
}